#Menu{
    padding: 12px;
    margin-left:250px;
}
#Menu a{
    text-decoration: none;
    color:grey;
    font-size:12px;
    margin:5px;
    left:20px;
    padding:7.5px;
}
#Menu a:hover{
    color:green;
}
#MenuImg{
    width:auto;
    height: auto;
    width:1350px;
    height:450px;
}
#LabelImg{
    position:absolute;
    bottom: 265px;
    right: 400px;
    color:white;
    font-size:70px;
}
#btnCG{
    position:absolute;
    bottom:400px;
    right:1000px;
    background-color:rgba(rgb(30, 133, 73), rgb(28, 90, 28), rgb(30, 110, 77), alpha);
    opacity: 70%;
    width:270px;
    height: 35px;
    color:rgb(10, 10, 10);
    border:none;
    font-size:18px;
}
#btnOFF{
    position:absolute;
    bottom:400px;
    right:550px;
    background-color:rgba(rgb(30, 133, 73), rgb(28, 90, 28), rgb(30, 110, 77), alpha);
    opacity: 70%;
    width:350px;
    height: 35px;
    color:rgb(10, 10, 10);
    border:none;
    font-size:18px;
}
#btnT{
    position:absolute;
    bottom:400px;
    right:117px;
    background-color:rgba(rgb(30, 133, 73), rgb(28, 90, 28), rgb(30, 110, 77), alpha);
    opacity: 70%;
    width:350px;
    height: 35px;
    color:rgb(10, 10, 10);
    border:none;
    font-size:18px;
}